# App configuration
APP_PORT="<port:3000>"

#OracleDB variables
ORA_USERNAME = "<username>"
ORA_PASSWORD = "<password>"
ORA_HOSTIPID = "//<ip>:<port:1521>/<database:IQMS>"
ORA_CLIENT = "<odbc_path:[C:\\oracle\\x64]>"

# CRYPT
SECRET_KEY="<secret_jwt>"
CRYPT_KEY="<secret_cryptojs>"

# Email access
EMAIL_USER = "<email>"
EMAIL_PASSWORD = "<password>"
EMAIL_HOST = "<host:mtp.office365.com>"
EMAIL_SERVICE = "<service:Outlook365>"
EMAIL_PORT = "<port:587>"
EMAIL_SECURE = "<secure:true>"

# MySQL variables
DB_USERNAME="<username>"
DB_PASSWORD="<password>"
DB_SCHEMANM="<database>"
DB_HOSTIPID="<ip>"
DB_PORT="<port:3306>"
